*~
.DS_Store
*/.DS_Store
*.o
*.lo
*.la
*.al
*.libs
*.so
*.a
*.so.[0-9]*
*.pyc
*.pyo
__pycache__
*.re
.#*
.*.swp
Pods
*.xcuserdatad
*.xcscmblueprint
xcuserdata
Podfile.lock
node_modules/
.idea
*.mp4
*.avi
*.caffemodel
*.prototxt
*.tensorcache
*build
imgs/*
*.jpg
*npz
*.png
*.onnx
UnitTest/fisheye/IVE_SDK_2.3.12.1_Linux/
*weights/*
